<ion-header>
  <ion-toolbar color="dark" style="height: 60px; ">
    <ion-card-header>
      <ion-card-title
        style="text-align: center;  font-family: Georgia, 'Times New Roman', Times, serif; color: white;">
        AgregarProducto
      </ion-card-title>
    </ion-card-header>
    <ion-buttons slot="end" class="endx" (click)="exit()" style="background: #ffffff ">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x-circle"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
      </svg>
    </ion-buttons>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>



<ion-content color="dark">
  <ion-grid>
    <ion-row style="justify-content: center;">
      <ion-col size="10">
        <div>
  
          <form #productForm="ngForm">
          <ion-row class="form-group">
            <ion-col>
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="person"></ion-icon>    
                <ion-input type="text" placeholder="Nombre Producto" required name="nombre" [(ngModel)]="elementos.nombre" class="fadeIn second"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
  
          <ion-row class="form-group">
            <ion-col>
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="albums-outline"></ion-icon>
                <ion-input type="text" placeholder="Descripcion" required name="descripcion" [(ngModel)]="elementos.descripcion" class="fadeIn second"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="form-group">
            <ion-col>
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="albums-outline"></ion-icon>
                <ion-input type="text" placeholder="Precio Producto" required name="precio" [(ngModel)]="elementos.precio" class="fadeIn second"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="form-group">
            <ion-col>
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="albums-outline"></ion-icon>
                <ion-input type="text" placeholder="Stock Mercaderia" required name="stock" [(ngModel)]="elementos.stock" class="fadeIn second"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="form-group">
            <ion-col>
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="albums-outline"></ion-icon>
                <ion-input type="text" placeholder="FechaCreacion" required name="fecha_creacion" [(ngModel)]="elementos.fecha_creacion" class="fadeIn second"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="form-group">
            <ion-col>
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-input type="text" placeholder="IdUsuario" required name="id_usuario" [(ngModel)]="elementos.id_usuario" class="fadeIn second"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Foto</label>
            <input (change)="cargaArchivo2($event)" type="file" required name="formato"
              [(ngModel)]="elementos.formato" class="form-control-file">
          </div>
          <div class="preview-img" *ngIf="previsualizacion">
            <button class="clear-image" type="button" (click)="clearImage()">Borrar</button>
            <img [src]="previsualizacion" alt="">
          </div>
      
          </form>
          <!-- Fin del formulario -->
  
        </div>
      </ion-col>
    </ion-row>
  
    <!-- Botón para guardar el producto -->
    <ion-row>
      <ion-col size="12" style="margin-top: 5px;">
        <div class="text-right">
          <ion-button (click)="Guardar(productForm)" color="danger">
            <ion-icon slot="start" name="save-outline">
            </ion-icon>
            Guardar Producto
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

